<!-- /workspace/shiftwise/templates/includes/sections/social_media.html -->
<div class="container my-5 text-center">
    <h2>Share ShiftWise App with Your Team!</h2>
    <p class="lead">Help your colleagues and friends simplify their shift management process. Spread the word on social media!</p>
    <div>
        <a href="https://facebook.com" class="btn btn-primary social-button mx-2" target="_blank">
            <i class="fab fa-facebook-f"></i> Share on Facebook
        </a>
        <a href="https://twitter.com" class="btn btn-info social-button mx-2" target="_blank">
            <i class="fab fa-twitter"></i> Share on Twitter
        </a>
        <a href="https://linkedin.com" class="btn btn-secondary social-button mx-2" target="_blank">
            <i class="fab fa-linkedin-in"></i> Share on LinkedIn
        </a>
    </div>
</div>