<!-- /workspace/shiftwise/home/templates/home/home.html -->

{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}ShiftWise App - Manage Shifts Effortlessly{% endblock %}

{% block content %}
<!-- Main Content -->

<!-- Hero Section -->
<div class="hero-section-wrapper">
    {% include 'includes/sections/hero.html' %}
</div>

{% include 'includes/sections/why_shiftwise.html' %}

<!-- Background Image Section -->
<div class="hero-background-image" style="background-image: url('{% static 'images/hero-background.jpg' %}');">
    <div class="hero-image-overlay"></div>
</div>

<!-- Subscription Tiers Section -->
{% include 'includes/sections/subscription_tiers.html' %}

{% include 'includes/sections/testimonials.html' %}
{% include 'includes/sections/social_media.html' %}

{% if available_plans %}
    <!-- Display Available Plans -->
    <section id="subscription-plans">
        <div class="container">
            <h2 class="text-center">Choose Your Plan</h2>
            <div class="row">
                {% for plan in available_plans %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">{{ plan.name }}</h5>
                                <p class="card-text">{{ plan.description }}</p>
                                <ul>
                                    {% for plan_option in plan.plans %}
                                        <li>{{ plan_option.view_limit }} Views - {{ plan_option.price }} {{ plan_option.currency }}</li>
                                    {% endfor %}
                                </ul>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        {% for plan_option in plan.plans %}
                                            <a href="{% url 'subscriptions:subscribe' plan_option.id %}" class="btn btn-sm btn-outline-secondary">Subscribe</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
{% endblock %}

{% block extra_js %}

<!-- Include the billing.js script for toggling billing cycles and plans -->
<script src="{% static 'js/billing.js' %}"></script>

{% endblock %}