# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.sqlite3

# Virtual environment
env.py

# Node modules
node_modules/

# Django stuff:
*.log

# Coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
htmlcov/

# Django migrations
*/migrations/*.pyc
*/migrations/__pycache__/

# Core files (crash reports)
core.Microsoft*
core.mongo*
core.python*

# Exclude ERD output files
erd.png
*.dot
*.json