asgiref==3.8.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
coverage==7.6.1
cryptography==43.0.1
defusedxml==0.7.1
dj-database-url==0.5.0
Django==4.2.16
django-allauth==0.50.0
django-crispy-forms==1.14.0
django-debug-toolbar==4.3.0
django-extensions==3.2.3
django-heroku==0.3.1
django-sendgrid-v5==1.2.3
geographiclib==2.0
geopy==2.4.1
gunicorn==20.1.0
idna==3.10
oauthlib==3.2.2
pipdeptree==2.23.4
psycopg2==2.9.9
psycopg2-binary==2.9.3
pycparser==2.22
pydotplus==2.0.2
PyJWT==2.9.0
pyparsing==3.1.4
python-http-client==3.3.7
python3-openid==3.2.0
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
sendgrid==6.11.0
setuptools==75.1.0
sqlparse==0.5.1
starkbank-ecdsa==2.2.0
stripe==5.0.0
urllib3==2.2.3
whitenoise==6.3.0
