<!-- /workspace/shiftwise/subscriptions/templates/subscriptions/manage_subscription.html -->
{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-5">
    <h2>Manage Your Subscription</h2>

    {% if subscription %}
        <div class="card mb-4">
            <div class="card-header">
                <h4>{{ subscription.plan.name }} Plan ({{ subscription.plan.get_billing_cycle_display }})</h4>
            </div>
            <div class="card-body">
                <p><strong>Price:</strong> £{{ subscription.plan.price }}</p>
                <p><strong>Billing Cycle:</strong> {{ subscription.plan.get_billing_cycle_display }}</p>
                <p><strong>Current Period:</strong> {{ subscription.current_period_start|date:"F j, Y" }} - {{ subscription.current_period_end|date:"F j, Y" }}</p>
                <p><strong>Features:</strong></p>
                <ul>
                    {% for feature in subscription_features %}
                        <li>{{ feature|format_feature }}</li>
                    {% endfor %}
                </ul>
                <p><strong>Next Billing Date:</strong> {{ subscription.current_period_end|date:"F j, Y" }}</p>
            </div>
        </div>

        <div class="mb-4">
            <h4>Upgrade or Downgrade Your Plan</h4>
            <p>Select a new plan below to change your current subscription.</p>
            <a href="{% url 'subscriptions:upgrade_subscription' %}" class="btn btn-success">Upgrade Plan</a>
            <a href="{% url 'subscriptions:downgrade_subscription' %}" class="btn btn-warning">Downgrade Plan</a>
        </div>

        <div class="mb-4">
            <h4>Cancel Subscription</h4>
            <p>If you wish to cancel your subscription, please proceed below.</p>
            <form method="post" action="{% url 'subscriptions:cancel_subscription' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Cancel Subscription</button>
            </form>
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            You do not have an active subscription. Please <a href="{% url 'subscriptions:subscribe' available_plans.0.monthly_plan.id %}" class="alert-link">subscribe now</a> to access premium features.
        </div>
    {% endif %}
</div>
{% endblock %}
