<!-- /workspace/shiftwise/subscriptions/templates/subscriptions/upgrade_subscription.html -->
{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-5">
    <h2>Upgrade Your Subscription</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="planSelect">Select a Plan to Upgrade:</label>
            <select class="form-control" id="planSelect" name="plan_id" required>
                <option value="" disabled selected>Select a plan</option>
                {% for plan in available_plans %}
                    <option value="{{ plan.id }}">{{ plan.name }} ({{ plan.billing_cycle|capitalize }}) - £{{ plan.price }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success">Upgrade Subscription</button>
        <a href="{% url 'subscriptions:subscription_home' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
