<!-- /workspace/shiftwise/accounts/templates/accounts/invite_staff.html -->

{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block title %}Invite Staff{% endblock %}

{% block content %}
<div class="container">
    <h2>Invite Staff Member</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <!-- Render the form using crispy_forms -->
        {{ form|crispy }}

        <button type="submit" class="btn btn-primary">Send Invitation</button>
        <a href="{% url 'home:home' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
