<!-- /workspace/shiftwise/accounts/templates/accounts/signup.html -->

{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block title %}Staff Sign Up{% endblock %}

{% block content %}
<div class="container">
    <h2>Staff Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <!-- Display field-specific errors -->
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Sign Up</button>
        <a href="{% url 'home:home' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
