{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Logo Image -->
    <a class="navbar-brand" href="{% url 'home:home' %}">
        <img src="{% static 'images/logo.png' %}" alt="ShiftWise" height="30" class="d-inline-block align-top">
        ShiftWise
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:home' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shifts:shift_list' %}">Shifts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:account_profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>