<!-- /workspace/shiftwise/shifts/templates/shifts/add_staff.html -->

{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% custom_filters}
{% load static %}

{% block title %}Add Staff Member{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Add Staff Member</h2>
    <form method="post" enctype="multipart/form-data" class="postcode-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form|crispy }}

        <button type="submit" class="btn btn-success">Add Staff Member</button>
        <a href="{% url 'shifts:staff_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
