{% extends 'base.html' %}

{% block title %}Delete Shift{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>Delete Shift</h2>
        <p>Are you sure you want to delete the shift "{{ object.name }}" scheduled on {{ object.shift_date }}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'shifts:shift_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}